.navigation{
  width: 100vw !important;
  height: 80px;
  & >ul{
    height: 100%;
    padding-left: 70px;
    display: flex;
    align-items: center;
  }
  &--fixed{
    position: fixed !important;
    top: 0 !important;
  }
}
@media screen and(max-width: 1150px) {
  .navigation{
    display: none;
  }
}
